body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom,grey,white);
    background-repeat:no-repeat;
}
h1{
    color:red
}
img{
    width: 350px;
    height: 200px;
}
.btLink{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    background-color: blue;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    transition: .3s;
}
.btLink:hover{
    background-color: red;
}
.test{
    padding: 10px;
    margin: 50px;
    text-align: center 
}